<ion-header>
  <ion-toolbar>
    <ion-title>contact administration 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="block">
    <div class="separateur">
      <ion-item-divider>
        <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
        <ion-label class="titre">
          <h2>Contacts admistration:</h2>
        </ion-label>
      </ion-item-divider>
      <div class="scroll">
        <ion-card *ngFor="let administration of administrations">
          <ion-text>
            <h2> {{administration.prenom}} {{administration.nom}} </h2>
            <p> {{administration.fonction}}</p>
            <p> tel: {{administration.telephone}} </p>
            <p> email: {{administration.mail}} </p>
          </ion-text>
        </ion-card>
      </div>
    </div>

    <div class="separateur">
      <ion-item-divider>
        <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
        <ion-label class="titre">
          <h2>Contacts chargers d'affaires:</h2>
        </ion-label>
      </ion-item-divider>
      <div class="scroll">
        <ion-card *ngFor="let affaire of affaires">
          <ion-text>
            <h2> {{affaire.prenom}} {{affaire.nom}} </h2>
            <p> {{ affaire.fonction }}</p>
            <p> tel: {{affaire.telephone}} </p>
            <p> email: {{affaire.mail}} </p>
          </ion-text>
        </ion-card>
      </div>
    </div>

    <div class="separateur">
      <ion-item-divider>
        <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
        <ion-label class="titre">
          <h2>Contacts technciens</h2>
        </ion-label>
      </ion-item-divider>
      <div class="scroll">
        <ion-card *ngFor="let tech of techs">
          <ion-text>
            <h2> {{tech.prenom}} {{tech.nom}} </h2>
            <p> {{ tech.fonction }}</p>
            <p> tel: {{tech.telephone}} </p>
            <p> email: {{tech.mail}} </p>
          </ion-text>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>