<ion-header>
  <ion-toolbar>
    <ion-title>contact administration 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search">
    <h2>Rechercher ici un(e) employé(e) dans la liste <br/> par son nom ou sa fonction</h2>
    <ion-searchbar placeholder="Recherche par nom,function..." (ionInput)="filterList($event)" ></ion-searchbar>

  </div>
  <div id="block">
    <div class="separateur">
      <ion-item-divider>
        <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
        <ion-label class="titre">
          <h2> admistration:</h2>
        </ion-label>
      </ion-item-divider>
      <div class="scroll">
        <ion-card *ngFor="let administration of administrations">
          <ion-text>
            <h2> {{administration.prenom}} {{administration.nom}} </h2>
            <p> {{administration.fonction}}</p>
            <p> <ion-icon slot="start" name="call"></ion-icon> {{administration.telephone}} </p>
            <a href="mailTo:{{administration.mail}}"><p><ion-icon slot="start" name="mail"></ion-icon>  {{administration.mail}} </p></a>
          </ion-text>
        </ion-card>
      </div>
    </div>

    <div class="separateur">
      <ion-item-divider>
        <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
        <ion-label class="titre">
          <h2> chargers d'affaires:</h2>
        </ion-label>
      </ion-item-divider>
      <div class="scroll">
        <ion-card *ngFor="let affaire of affaires">
          <ion-text>
            <h2> {{affaire.prenom}} {{affaire.nom}} </h2>
            <p> {{ affaire.fonction }}</p>
            <p> <ion-icon slot="start" name="call"></ion-icon> {{affaire.telephone}} </p>
            <a href="mailTo:{{affaire.mail}}"><p><ion-icon slot="start" name="mail"></ion-icon> {{affaire.mail}} </p></a>
          </ion-text>
        </ion-card>
      </div>
    </div>

    <div class="separateur">
      <ion-item-divider>
        <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
        <ion-label class="titre">
          <h2> techncien(ne)s</h2>
        </ion-label>
      </ion-item-divider>
      <div class="scroll">
        <ion-card *ngFor="let tech of techs">
          <ion-text>
            <h2> {{tech.prenom}} {{tech.nom}} </h2>
            <p> {{ tech.fonction }}</p>
            <p> <ion-icon slot="start" name="call"></ion-icon> {{tech.telephone}} </p>
            <a href="mailTo:{{tech.mail}}"><p><ion-icon slot="start" name="mail"></ion-icon>  {{tech.mail}} </p></a>
          </ion-text>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>