.info{
    padding: 10px;
}
ion-icon{
    font-size: 25px;
}
ion-content{
    --ion-background-color: rgb(39, 39, 39);
    
}
p,h2{
   
    color: white;
}
.p{
    p{
        margin-top: -5px;
    }
}
span{
   color: red;
}